{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "eslintIntegration": true,
    "endOfLine": "auto",
    "printWidth": 500
}